<template>
  <b-tab v-bind="$attrs" v-on="$listeners">
    <slot />
  </b-tab>
</template>

<script>
import BTab from "bootstrap-vue/es/components/tabs/tab";

export default {
  components: {
    BTab
  },
  inheritAttrs: false
};
</script>
