<template>
  <gl-tabs>
    <gl-tab title="First" active>
      first tab content
    </gl-tab>
    <gl-tab title="Second">
      second tab content
    </gl-tab>
  </gl-tabs>
</template>

<script>
import GlTabs from './components/GlTabs';
import GlTab from './components/GlTab';

export default {
  name: 'app',
  components: {
    GlTabs,
    GlTab,
  }
}
</script>

